/.idea
/node_modules
/public/hot
/public/storage
/public/*.js
/public/js/*.js
public/css/*.css.map
techs.iml

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

storage/*.key
/.vagrant


.DS_Store
package-lock.json

