/.idea
/node_modules
/public/hot
/public/storage
/public/*.js
/public/js/*.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache


public/css/*.css.map
.DS_Store
package-lock.json

