
.search{
  width: 3rem!important;
}
.jumbotron{
  margin-bottom: 0!important;
}
.bg-main{
  height: 32rem;
  background-color: #31312f;
}
.main_img{
  opacity: 0.8;
}
.nav_bg{
  background-color: #ecb125!important;
}

.active .nav-link{
  color: white!important;
}
.nav-link{
  color: #4a4444!important;
}
.main_text{
  font-weight: 400;
  color: #cf9e1d;
  font-size: 3rem;
  /* background: linear-gradient(to top, rgb(59 52 51) 30%, rgba(249,249,249,0.06626400560224088) 75%); */
}
.bg-search{
  background-color: #ecb125eb;
  color: #31312f;
}
.bg-search:focus{
  background-color: #ecb125eb;
}
.btn-search{
  background-color: #31312f;
  border-color: #31312f;
}
.text_dark{
  color: #31312f;
}
.text_dark:hover{
  color: #ecb125eb;
}
.text_light{
  color: grey;
}
.text_light:hover{
  color: #ecb125eb;
}
.title_text{
  font-weight: 300;
}
.search_section{
  border-bottom: 1px solid #31312f;
}
.round {
  border-radius: 100px; 
  border: 3px solid green;
  box-shadow: 0 0 7px #666;
}
.circle {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_adv{
  margin-left: 8rem;
  padding-top: 1rem;
}
.slider {
  /*background-image: url('img/375051.jpg');*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.bcg_name{
  background-color: black;
}
.title_main{
  margin-top: auto;
  background-color: #40363c82;
  /* background: linear-gradient(to top, rgb(59 52 51) 17%, rgba(249,249,249,0.06626400560224088) 75%); */
}
.text_small{
  margin-bottom: 0;
  color: grey;
}
.geo{
  margin-top: 50%;
}
.btn_show{
  margin-top: 8rem;
  background-color: #ecb125eb;
  border-color: #ecb125eb!important;
  color: #31312f;
}
.card-header{
  background-color: #63635e;
  color: white;
  font-weight: 300;
}
.price{
  font-weight: 600;
}
.login_btn{
  background-color: #63635e;
  color: white;
  font-weight: 300;
  border-color: #63635e;
}
.carousel{
  width: 30rem;
}
